<div class="plan-view plan-list container">

  <div ng-if="plans.length > 0">

    <div style="text-align:right">
      <button type="button" class="btn btn-primary" ng-click="createPlan()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Create new plan
      </button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <td>Plan Key</td>
          <td>Description</td>
          <td>Last Executed</td>
          <td>Times Executed</td>
          <td>Last Updated</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="plan in plans">
          <td>{{plan.key}}</td>
          <td>{{plan.description}}</td>
          <td am-time-ago="plan.lastExecution"></td>
          <td>{{plan.executionCount}}</td>
          <td am-time-ago="plan.updatedAt"></td>
          <td>
            <a class="btn btn-primary btn-xs" href="#/plans/{{plan.id}}" role="button">
              Details / Edit
            </a>
            <a class="btn btn-danger btn-xs" ng-click="deletePlan(plan.id, $index)" role="button">
              Delete
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="jumbotron" ng-if="plans.length == 0">
    <h1>Excessive use of Bootstrap!</h1>
    <p>You should really create a new plan here:</p>
    <button type="button" class="btn btn-primary" ng-click="createPlan()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Create new plan
    </button>
  </div>
</div>
